/* styles.css */


:root {
    --light-grey: #CFCFCF;
    --dark-grey: #434040;
    --accent-color: #9df200;
    --background-color: #000000;
    --basic-text-color: white;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    min-height: 100vh;
   
}

/* Set the base font size */
html {
    font-size: 16px;
  }
  
  /* Define font sizes using rem units */
  body {
    font-size: 1rem; /* 16px */
  }
  
  h1 {
    font-size: 2rem; /* 32px */
    color:var(--accent-color)
  }
  
  h2 {
    font-size: 1.5rem; /* 24px */
  }
  
  p {
    font-size: 1rem; /* 16px */
  }
  
  .small-text {
    font-size: 0.875rem; /* 14px */
  }
  
  /* Adjust the base font size for different screen sizes */
  @media (max-width: 1200px) {
    html {
      font-size: 15px;
    }
  }
  
  @media (max-width: 900px) {
    html {
      font-size: 14px;
    }
  }
  
  @media (max-width: 600px) {
    html {
      font-size: 13px;
    }
  }

  

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0 30px;
    box-sizing: border-box;
    flex: 1 0 auto;
}


.autocomplete-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    background-color: none
}

.autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #838383;
}

.autocomplete-results div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.autocomplete-results div:hover {
    background-color: #838383;
}

#random_song, #footer_random_song {
    box-sizing: content-box;
    color: #9DF200;
    background-color: #838383;
    padding: 10px;
    margin: 10px 0;
}

#recommendation {
    color: aqua;
}

#recommendations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 66%;
    margin: 0 auto;
    padding: 0px, 0px;
    box-sizing: border-box;
    color: var(--basic-text-color)
}

.song {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid;
    border-color: var(--dark-grey);
    background-color: var(--dark-grey);    
}
.song:hover {
       border-color: var(--accent-color);
}
.song button{
    background-color: var(--light-grey);
    color: var(--background-color);
    cursor: ponter;
    border: none;
    margin-right: 10px;
}

.song button:hover{
    background-color: var(--dark-grey);
    color: var(--accent-color);
    border: 2px solid;
    border-color: var(--light-grey);
}
#load_more {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--dark-grey);
    color: var(--accent-color);
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
}

#load_more:hover {
    background-color: #838383;
}

footer {
    background-color:var(--dark-grey);
    color: white;
    text-align: center;
    padding: 2%;
    width: 100%;
    height: 5%;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#play_pause_button {
    background-color: #9df200;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
}

#play_pause_button:hover {
    background-color: #000;
    color: #9df200;
}
