/* Schriftart */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --light-grey: #CFCFCF;
    --dark-grey: #434040;
    --accent-color: #9df200;
    --background-color: #000000;
    --basic-text-color: white;
    font-family: Inter;
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    min-height: 100vh;
}

/* Set the base font size */
html {
    font-size: 16px;
}
  
/* Define font sizes using rem units */
body {
    font-size: 1rem; /* 16px */
}
  
h1 {
    font-size: 2rem; /* 32px */
    color: var(--accent-color);
}
  
h2 {
    font-size: 1.5rem; /* 24px */
}
  
p {
    font-size: 1rem; /* 16px */
}
  
.small-text {
    font-size: 0.875rem; /* 14px */
}
  
/* Adjust the base font size for different screen sizes */
@media (max-width: 1200px) {
    html {
        font-size: 15px;
    }
}
  
@media (max-width: 900px) {
    html {
        font-size: 14px;
    }
}
  
@media (max-width: 600px) {
    html {
        font-size: 13px;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    height: 10%;
    width: 100%;
}

header h1 {
    color: var(--accent-color);
    text-align: center;
    padding: 2.5% 0;
    margin: 0;
    font-size: 1rem;
}

header img {
    height: 50%;
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0 30px;
    box-sizing: border-box;
    flex: 1 0 auto;
}

.autocomplete-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    background-color: none;
}

.autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #838383;
}

.autocomplete-results div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.autocomplete-results div:hover {
    background-color: #838383;
}

#random_song, #footer_random_song {
    box-sizing: content-box;
    color: #9df200;
    background-color: #838383;
    padding: 10px;
    margin: 10px 0;
}

#recommendation {
    color: aqua;
}

#recommendations {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 66%;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    color: var(--basic-text-color);
}

.song {
    flex: 1 3 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid;
    border-color: var(--dark-grey);
    background-color: var(--dark-grey);   
}

.song:hover {
    border-color: var(--accent-color);
}

.song button {
    background-color: var(--light-grey);
    color: var(--background-color);
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.song button:hover {
    background-color: var(--dark-grey);
    color: var(--accent-color);
    border: 2px solid;
    border-color: var(--light-grey);
}

.song-info {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-color: var(--accent-color);
    font-size: 0.8rem;
    justify-content: space-between;
}

.links {
    display: flex;
}
    
#load_more {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--dark-grey);
    color: var(--accent-color);
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
}

#load_more:hover {
    background-color: #838383;
}

footer {
    background-color: var(--dark-grey);
    color: white;
    text-align: center;
    padding: 2%;
    width: 100%;
    height: 5%;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#play_pause_button {
    background-color: #9df200;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
}

#play_pause_button:hover {
    background-color: #000;
    color: #9df200;
}

.team-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    flex: 1 1 calc(30% - 20px); /* Anpassung der Breite */
    margin: 10px;
    background-color: #838383;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box; /* stellt sicher, dass Padding und Border in die Breitenberechnung einbezogen werden */
}

.team-member:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #9df200;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-member h2 {
    margin: 10px 0;
    font-size: 24px;
}

.team-member p {
    color: black;
    font-size: 16px;
}
