body {
    background-color: #000000;
}

p {
    color: #9df200;
}

h1 {color: #9df200;  
}

h2 {
    color: #9df200;
}

.autocomplete-container {
    position: relative;
    width: 300px;
}

.autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: white;
}

.autocomplete-results div {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.autocomplete-results div:hover {
    background-color: #838383;

}
#random_song {
    color: #9df200;
    background-color: #7a7a7a;
    margin: 10 10 10 10;
}



.random_song {
    color: #ffffff;
}